* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --bg-deep-green: rgb(0, 43, 2);
  --bg-light-green: rgb(2, 120, 6);
  --bg-deep-yellow: rgb(178, 178, 0);
  --bg-light-yellow: rgb(255, 255, 0);
  --bg-deep-grey: #beb8b8;
  --bg-light-grey: #ebebeb;
  --bg-light-white: #fff;
  --txt-light: #ebebeb;
  --txt-lighter: #fff;
  --txt-dark: #beb8b8;
  --txt-darker: rgb(0, 0, 0);
  --accent-color: yellow;
  --err: red;
}

body {
  width: 100%;
  background-color: var(--bg-light-grey);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tar {
  text-align: right;
}

header {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 5rem;
  background-color: var(--bg-deep-green);
  color: #ebebeb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
}

header img {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
  border-radius: 50%;
}

header h1 {
  font-size: 1.5rem;
  color: var(--bg-light-yellow);
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main form {
  height: 300px;
  width: 400px;
  background-color: #ebebeb;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main form header {
  padding-left: 4rem;
  height: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

main form p {
  color: var(--err);
  font-size: .8rem;
  text-align: center;
  visibility: hidden;
  background-color: rgba(252, 139, 139, 0.3);
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: .2rem 0;
  border-radius: 3px;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

main form p.active {
  visibility: visible;
}

main form input {
  width: 70%;
  padding: .5rem .5rem;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid var(--bg-light-green);
  border-radius: 3px;
}

main form input:focus, main form input:hover {
  border: 1px solid var(--bg-deep-yellow);
}

main form button {
  background-color: var(--bg-light-green);
  border: none;
  outline: none;
  padding: .5rem 2rem;
  color: var(--bg-light-yellow);
  text-transform: uppercase;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 1rem;
  margin-right: 3.9rem;
  border-radius: 3px;
}

main form button:focus, main form button:hover {
  background-color: var(--bg-deep-green);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */