*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --bg-deep-green: rgb(0, 43, 2);
    --bg-light-green: rgb(2, 120, 6);
    --bg-deep-yellow: rgb(178, 178, 0);
    --bg-light-yellow: rgb(255, 255, 0);
    --bg-deep-grey: #beb8b8;
    --bg-light-grey: #ebebeb;
    --bg-light-white: #fff;

    --txt-light: #ebebeb;
    --txt-lighter: #fff;
    --txt-dark: #beb8b8;
    --txt-darker: rgb(0, 0, 0);

    --accent-color: yellow;

    --err: red;

}

$primarylight: #ebebeb;
$secondarylight: #fff;
$primarydark: #fff;
$primarydark: #fff;
$accentcolor: #fff;

body{
    width: 100%;
    background-color: var(--bg-light-grey);
}
.flex{
    display: flex;
}

.tar{
    text-align: right;
}

header{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 5rem;
    background-color: var(--bg-deep-green);
    color: $primarylight;
    align-items: center;
    padding: 0 5rem;
    
    img{
        height: 50px;
        width: 50px;
        margin-right: 1rem;
        border-radius: 50%;
    }

    h1{
        font-size: 1.5rem;
        color: var(--bg-light-yellow);
    }
}

main{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 500px;
    align-items: center;
    justify-content: center;

    form{
        // padding: 0 2rem;
        height: 300px;
        width: 400px;
        background-color: $primarylight;
        background-color: $secondarylight;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: .5);
        flex-direction: column;
        align-items: center;

        header{
            padding-left: 4rem;
            height: 3rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        p{
            color: var(--err);
            font-size: .8rem;
            text-align: center;
            visibility: hidden;
            background-color: rgba($color: #fc8b8b, $alpha: .3);
            width: 80%;
            align-self: center;
            padding: .2rem 0;
            border-radius: 3px;
            margin-top: .5rem;
            margin-bottom: 1.5rem;

            &.active{
                visibility: visible;
            }
        }

           
            input{
                width: 70%;
                padding: .5rem .5rem;
                margin-bottom: 1rem;
                outline: none;
                border: 1px solid var(--bg-light-green);
                border-radius: 3px;

                &:focus, &:hover{
                    border: 1px solid var(--bg-deep-yellow);
                }
            }

        button{
            background-color: var(--bg-light-green);
            border: none;
            outline: none;
            padding: .5rem 2rem;
            color: var(--bg-light-yellow);
            text-transform: uppercase;
            align-self: flex-end;
            margin-top: 1rem;
            margin-right: 3.9rem;
            border-radius: 3px;

            &:focus, &:hover{
                background-color: var(--bg-deep-green);
                cursor: pointer;
            }
        }
    }
}